<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="errorLogFile" xsi:type="File" fileName="Errors.txt" 
            layout="Timestamp: ${longdate}${newline}Level: ${level:uppercase=true}${newline}Id: ${event-context:item=Id}${newline}Source: ${event-context:item=Source}${newline}Simple Message: ${event-context:item=SimpleMessage}${newline}${message}${newline}-------------------------------"
            />
    <!--<target name="eventlog" xsi:type="EventLog" />-->
  </targets>

  <rules>
    <logger name="*" levels="Fatal, Error, Warn, Info" writeTo="errorLogFile" />
    <!--<logger name="*" levels="Fatal, Error, Warn, Info" writeTo="eventlog" />-->
  </rules>
</nlog>